<footer class="custom-footer" style="background-color: var(--secondary-bg); padding: 1rem; text-align: center;">
    <p style="font-family: 'Roboto', sans-serif; color: var(--dark-color);">
      © {{ site.time | date: "%Y" }} Tarun Mishra. All rights reserved.
    </p>
    <div class="social-links">
      <a href="mailto:tarunpmishra2001@gmail.com" style="font-family: 'Archivo', sans-serif; color: var(--dark-color); transition: color 0.3s ease;" onmouseover="this.style.color='var(--accent-color)'" onmouseout="this.style.color='var(--dark-color)'">Email</a>
      <a href="https://www.linkedin.com/in/tarunpmishra/" target="_blank" style="font-family: 'Archivo', sans-serif; color: var(--dark-color); transition: color 0.3s ease;" onmouseover="this.style.color='var(--accent-color)'" onmouseout="this.style.color='var(--dark-color)'">LinkedIn</a>
      <a href="https://www.kaggle.com/tarundirector/code" target="_blank" style="font-family: 'Archivo', sans-serif; color: var(--dark-color); transition: color 0.3s ease;" onmouseover="this.style.color='var(--accent-color)'" onmouseout="this.style.color='var(--dark-color)'">Kaggle</a>
      <a href="https://github.com/tarundirector" target="_blank" style="font-family: 'Archivo', sans-serif; color: var(--dark-color); transition: color 0.3s ease;" onmouseover="this.style.color='var(--accent-color)'" onmouseout="this.style.color='var(--dark-color)'">GitHub</a>
    </div>
  </footer>
  